<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel0</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>257</integer>
		<key>y</key>
		<integer>441</integer>
		<key>adjacent</key>
		<array>
			<string>mens_restroom</string>
			<string>astronomy_in_culture</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel1</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>244</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace_exit</string>
			<string>astronomy_in_culture</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel2</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>264</integer>
		<key>y</key>
		<integer>176</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace</string>
			<string>travel3</string>
			<string>travel4</string>
			<string>space_theater_exit</string>
			<string>citizen_science</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel3</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>182</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>citizen_science</string>
			<string>cyberspace</string>
			<string>travel2</string>
			<string>atwood_sphere</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel4</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>355</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
			<string>travel5</string>
			<string>space_theater_enter</string>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel5</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>468</integer>
		<key>y</key>
		<integer>182</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater_enter</string>
			<string>travel4</string>
			<string>the_universe</string>
			<string>the_universe_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel6</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>472</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>space_visualization_lab</string>
			<string>telescopes</string>
			<string>the_universe_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel7</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>456</integer>
		<key>y</key>
		<integer>452</integer>
		<key>adjacent</key>
		<array>
			<string>womens_restroom</string>
			<string>telescopes</string>
			<string>womens_restroom_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>mens_restroom</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>285</integer>
		<key>y</key>
		<integer>456</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>astronomy_in_culture</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>305</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
			<string>travel1</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>cyberspace_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>205</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>cyberspace</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>208</integer>
		<key>y</key>
		<integer>156</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace</string>
			<string>travel3</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>citizen_science</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>151</integer>
		<key>y</key>
		<integer>108</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace</string>
			<string>travel2</string>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>atwood_sphere</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>251</integer>
		<key>y</key>
		<integer>66</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>space_theater</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>356</integer>
		<key>y</key>
		<integer>75</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>the_universe</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>512</integer>
		<key>y</key>
		<integer>121</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>space_visualization_lab</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>428</integer>
		<key>y</key>
		<integer>229</integer>
		<key>adjacent</key>
		<array>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>telescopes</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>350</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>womens_restroom</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>426</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>womens_restroom_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>470</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>the_universe_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>503</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>space_theater_enter</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>135</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater</string>
			<string>travel4</string>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>space_theater_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>297</integer>
		<key>y</key>
		<integer>134</integer>
		<key>adjacent</key>
		<array>
			<string>atwood_sphere</string>
			<string>travel4</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>left_exit</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>143</integer>
		<key>y</key>
		<integer>74</integer>
		<key>adjacent</key>
		<array>
			<string>travel8</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel8</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>132</integer>
		<key>y</key>
		<integer>131</integer>
		<key>adjacent</key>
		<array>
			<string>travel9</string>
			<string>left_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel9</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>117</integer>
		<key>y</key>
		<integer>180</integer>
		<key>adjacent</key>
		<array>
			<string>travel8</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_1</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>154</integer>
		<key>y</key>
		<integer>142</integer>
		<key>adjacent</key>
		<array>
			<string>travel8</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_2</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>143</integer>
		<key>y</key>
		<integer>187</integer>
		<key>adjacent</key>
		<array>
			<string>travel9</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>right_exit</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>535</integer>
		<key>y</key>
		<integer>85</integer>
		<key>adjacent</key>
		<array>
			<string>travel10</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel10</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>550</integer>
		<key>y</key>
		<integer>127</integer>
		<key>adjacent</key>
		<array>
			<string>right_exit</string>
			<string>unknown_restroom_3</string>
			<string>travel12</string>
			<string>travel11</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel11</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>588</integer>
		<key>y</key>
		<integer>117</integer>
		<key>adjacent</key>
		<array>
			<string>travel10</string>
			<string>classroom_b</string>
			<string>vending</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_3</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>510</integer>
		<key>y</key>
		<integer>154</integer>
		<key>adjacent</key>
		<array>
			<string>travel10</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_4</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>201</integer>
		<key>adjacent</key>
		<array>
			<string>travel12</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>classroom_b</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>621</integer>
		<key>y</key>
		<integer>106</integer>
		<key>adjacent</key>
		<array>
			<string>travel11</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>vending</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>599</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>travel11</string>
			<string>travel13</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel12</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>571</integer>
		<key>y</key>
		<integer>195</integer>
		<key>adjacent</key>
		<array>
			<string>unknown_restroom_4</string>
			<string>travel13</string>
			<string>travel10</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel13</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>610</integer>
		<key>y</key>
		<integer>199</integer>
		<key>adjacent</key>
		<array>
			<string>classroom_a</string>
			<string>travel12</string>
			<string>vending</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>classroom_a</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>654</integer>
		<key>y</key>
		<integer>195</integer>
		<key>adjacent</key>
		<array>
			<string>travel13</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>education_pavilion</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>569</integer>
		<key>y</key>
		<integer>244</integer>
		<key>adjacent</key>
		<array>
			<string>travel12</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>south_entrance</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>639</integer>
		<key>y</key>
		<integer>250</integer>
		<key>adjacent</key>
		<array>
			<string>education_pavilion</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>south_elevator</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>487</integer>
		<key>y</key>
		<integer>240</integer>
		<key>adjacent</key>
		<array>
			<string>education_pavilion</string>
			<string>south_stairs</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>south_stairs</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>476</integer>
		<key>y</key>
		<integer>278</integer>
		<key>adjacent</key>
		<array>
			<string>south_elevator</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel14</string>
		<key>floor</key>
		<string>star</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>46</integer>
		<key>adjacent</key>
		<array>
			<string>travel15</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel15</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>58</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>travel14</string>
			<string>travel16</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel16</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>59</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>travel15</string>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>star_theater_exit</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>82</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>travel16</string>
			<string>star_exhibits</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>star_exhibits</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>133</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>star_theather_enter</string>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>star_theather_enter</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>184</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater</string>
			<string>travel17</string>
			<string>star_exhibits</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel17</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>star_theather_enter</string>
			<string>travel18</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel18</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>travel17</string>
			<string>travel19</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel19</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>248</integer>
		<key>y</key>
		<integer>46</integer>
		<key>adjacent</key>
		<array>
			<string>travel18</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>star_theater</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>170</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel20</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>travel34</string>
			<string>welcome_gallery</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel21</string>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>welcome_gallery</string>
			<string>travel22</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel22</string>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>travel21</string>
			<string>travel23</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel23</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>sky_theater</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel24</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>379</integer>
		<key>adjacent</key>
		<array>
			<string>travel23</string>
			<string>travel25</string>
			<string>travel35</string>
			<string>shoot_for_the_moon</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel25</string>
		<key>x</key>
		<integer>333</integer>
		<key>y</key>
		<integer>315</integer>
		<key>adjacent</key>
		<array>
			<string>our_solar_system</string>
			<string>travel31</string>
			<string>travel26</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel26</string>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>361</integer>
		<key>adjacent</key>
		<array>
			<string>our_solar_system</string>
			<string>travel25</string>
			<string>travel35</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel27</string>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>cafe_galileo</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel28</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>440</integer>
		<key>adjacent</key>
		<array>
			<string>shoot_for_the_moon</string>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel29</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>547</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
			<string>travel28</string>
			<string>sky_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel30</string>
		<key>x</key>
		<integer>391</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>rainbow_lobby_exit</string>
			<string>travel29</string>
			<string>rainbow_lobby</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel31</string>
		<key>x</key>
		<integer>416</integer>
		<key>y</key>
		<integer>326</integer>
		<key>adjacent</key>
		<array>
			<string>travel25</string>
			<string>planet_explorers</string>
			<string>planet_explorers_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel32</string>
		<key>x</key>
		<integer>611</integer>
		<key>y</key>
		<integer>392</integer>
		<key>adjacent</key>
		<array>
			<string>planet_explorers</string>
			<string>adler_store</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel33</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>470</integer>
		<key>adjacent</key>
		<array>
			<string>planet_explorers_exit</string>
			<string>adler_store</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel34</string>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel35</string>
		<key>x</key>
		<integer>268</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>rainbow_lobby</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>611</integer>
		<key>adjacent</key>
		<array>
			<string>coat_check</string>
			<string>travel30</string>
			<string>main_entrance</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>coat_check</string>
		<key>x</key>
		<integer>288</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>welcome_gallery</string>
			<string>rainbow_lobby</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>welcome_gallery</string>
		<key>x</key>
		<integer>228</integer>
		<key>y</key>
		<integer>510</integer>
		<key>adjacent</key>
		<array>
			<string>travel20</string>
			<string>travel21</string>
			<string>coat_check</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>sky_theater</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>498</integer>
		<key>adjacent</key>
		<array>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>shoot_for_the_moon</string>
		<key>x</key>
		<integer>398</integer>
		<key>y</key>
		<integer>378</integer>
		<key>adjacent</key>
		<array>
			<string>travel24</string>
			<string>travel28</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>cafe_galileo</string>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>454</integer>
		<key>adjacent</key>
		<array>
			<string>travel27</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>our_solar_system</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>279</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel25</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>planet_explorers</string>
		<key>x</key>
		<integer>473</integer>
		<key>y</key>
		<integer>231</integer>
		<key>adjacent</key>
		<array>
			<string>travel31</string>
			<string>travel32</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>adler_store</string>
		<key>x</key>
		<integer>617</integer>
		<key>y</key>
		<integer>455</integer>
		<key>adjacent</key>
		<array>
			<string>travel33</string>
			<string>travel32</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>rainbow_lobby_exit</string>
		<key>x</key>
		<integer>411</integer>
		<key>y</key>
		<integer>638</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>sky_theater_exit</string>
		<key>x</key>
		<integer>489</integer>
		<key>y</key>
		<integer>530</integer>
		<key>adjacent</key>
		<array>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>planet_explorers_exit</string>
		<key>x</key>
		<integer>497</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel31</string>
			<string>travel33</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>cafe_galileo_exit</string>
		<key>x</key>
		<integer>204</integer>
		<key>y</key>
		<integer>390</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel34</string>
			<string>travel27</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>main_entrance</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>694</integer>
		<key>adjacent</key>
		<array>
			<string>rainbow_lobby</string>
		</array>
	</dict>
</array>
</plist>
