<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel20</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>travel34</string>
			<string>welcome_gallery</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel21</string>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>welcome_gallery</string>
			<string>travel22</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel22</string>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>travel21</string>
			<string>travel23</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel23</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>sky_theater</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel24</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>379</integer>
		<key>adjacent</key>
		<array>
			<string>travel23</string>
			<string>travel25</string>
			<string>travel35</string>
			<string>shoot_for_the_moon</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel25</string>
		<key>x</key>
		<integer>333</integer>
		<key>y</key>
		<integer>315</integer>
		<key>adjacent</key>
		<array>
			<string>our_solar_system</string>
			<string>travel31</string>
			<string>travel26</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel26</string>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>361</integer>
		<key>adjacent</key>
		<array>
			<string>our_solar_system</string>
			<string>travel25</string>
			<string>travel35</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel27</string>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>cafe_galileo</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel28</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>440</integer>
		<key>adjacent</key>
		<array>
			<string>shoot_for_the_moon</string>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel29</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>547</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
			<string>travel28</string>
			<string>sky_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel30</string>
		<key>x</key>
		<integer>391</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>rainbow_lobby_exit</string>
			<string>travel29</string>
			<string>rainbow_lobby</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel31</string>
		<key>x</key>
		<integer>416</integer>
		<key>y</key>
		<integer>326</integer>
		<key>adjacent</key>
		<array>
			<string>travel25</string>
			<string>planet_explorers</string>
			<string>planet_explorers_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel32</string>
		<key>x</key>
		<integer>611</integer>
		<key>y</key>
		<integer>392</integer>
		<key>adjacent</key>
		<array>
			<string>planet_explorers</string>
			<string>adler_store</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel33</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>470</integer>
		<key>adjacent</key>
		<array>
			<string>planet_explorers_exit</string>
			<string>adler_store</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel34</string>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel35</string>
		<key>x</key>
		<integer>268</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>rainbow_lobby</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>611</integer>
		<key>adjacent</key>
		<array>
			<string>coat_check</string>
			<string>travel30</string>
			<string>main_entrance</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>coat_check</string>
		<key>x</key>
		<integer>288</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>welcome_gallery</string>
			<string>rainbow_lobby</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>welcome_gallery</string>
		<key>x</key>
		<integer>228</integer>
		<key>y</key>
		<integer>510</integer>
		<key>adjacent</key>
		<array>
			<string>travel20</string>
			<string>travel21</string>
			<string>coat_check</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>sky_theater</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>498</integer>
		<key>adjacent</key>
		<array>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>shoot_for_the_moon</string>
		<key>x</key>
		<integer>398</integer>
		<key>y</key>
		<integer>378</integer>
		<key>adjacent</key>
		<array>
			<string>travel24</string>
			<string>travel28</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>cafe_galileo</string>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>454</integer>
		<key>adjacent</key>
		<array>
			<string>travel27</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>our_solar_system</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>279</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel25</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>planet_explorers</string>
		<key>x</key>
		<integer>473</integer>
		<key>y</key>
		<integer>231</integer>
		<key>adjacent</key>
		<array>
			<string>travel31</string>
			<string>travel32</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>adler_store</string>
		<key>x</key>
		<integer>617</integer>
		<key>y</key>
		<integer>455</integer>
		<key>adjacent</key>
		<array>
			<string>travel33</string>
			<string>travel32</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>rainbow_lobby_exit</string>
		<key>x</key>
		<integer>411</integer>
		<key>y</key>
		<integer>638</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>sky_theater_exit</string>
		<key>x</key>
		<integer>489</integer>
		<key>y</key>
		<integer>530</integer>
		<key>adjacent</key>
		<array>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>planet_explorers_exit</string>
		<key>x</key>
		<integer>497</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel31</string>
			<string>travel33</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>cafe_galileo_exit</string>
		<key>x</key>
		<integer>204</integer>
		<key>y</key>
		<integer>390</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel34</string>
			<string>travel27</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>main_entrance</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>694</integer>
		<key>adjacent</key>
		<array>
			<string>rainbow_lobby</string>
		</array>
	</dict>
</array>
</plist>
