<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel0</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>257</integer>
		<key>y</key>
		<integer>441</integer>
		<key>adjacent</key>
		<array>
			<string>Men&apos;s Restroom</string>
			<string>Astronomy in Culture</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel1</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>244</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace_exit</string>
			<string>Astronomy in Culture</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel2</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>264</integer>
		<key>y</key>
		<integer>176</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace_exit</string>
			<string>Cyberspace</string>
			<string>travel3</string>
			<string>travel4</string>
			<string>space_theater_exit</string>
			<string>Citizen Science</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel3</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>182</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>Citizen Science</string>
			<string>Cyberspace</string>
			<string>travel2</string>
			<string>Atwood Sphere</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel4</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>355</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
			<string>travel5</string>
			<string>space_theater_enter</string>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel5</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>468</integer>
		<key>y</key>
		<integer>182</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater_enter</string>
			<string>travel4</string>
			<string>The Universe</string>
			<string>the_universe_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel6</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>472</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>Space Visualization Lab</string>
			<string>Telescopes</string>
			<string>the_universe_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel7</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>456</integer>
		<key>y</key>
		<integer>452</integer>
		<key>adjacent</key>
		<array>
			<string>Women&apos;s Restroom</string>
			<string>Telescopes</string>
			<string>womens_restroom_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Men&apos;s Restroom</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>285</integer>
		<key>y</key>
		<integer>456</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Astronomy in Culture</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>305</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
			<string>travel1</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>cyberspace_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>205</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Cyberspace</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>208</integer>
		<key>y</key>
		<integer>156</integer>
		<key>adjacent</key>
		<array>
			<string>Citizen Science</string>
			<string>travel3</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Citizen Science</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>151</integer>
		<key>y</key>
		<integer>108</integer>
		<key>adjacent</key>
		<array>
			<string>Cyberspace</string>
			<string>travel2</string>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Atwood Sphere</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>251</integer>
		<key>y</key>
		<integer>66</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Space Theater</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>356</integer>
		<key>y</key>
		<integer>75</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>The Universe</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>512</integer>
		<key>y</key>
		<integer>121</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Space Visualization Lab</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>428</integer>
		<key>y</key>
		<integer>229</integer>
		<key>adjacent</key>
		<array>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Telescopes</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>350</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Women&apos;s Restroom</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>426</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>womens_restroom_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>470</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>the_universe_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>503</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>space_theater_enter</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>135</integer>
		<key>adjacent</key>
		<array>
			<string>Space Theater</string>
			<string>travel4</string>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>space_theater_exit</string>
		<key>floor</key>
		<string>lower</string>
		<key>x</key>
		<integer>297</integer>
		<key>y</key>
		<integer>134</integer>
		<key>adjacent</key>
		<array>
			<string>Atwood Sphere</string>
			<string>travel4</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>left_exit</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>143</integer>
		<key>y</key>
		<integer>74</integer>
		<key>adjacent</key>
		<array>
			<string>travel8</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel8</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>132</integer>
		<key>y</key>
		<integer>131</integer>
		<key>adjacent</key>
		<array>
			<string>Unknown Restroom 1</string>
			<string>travel9</string>
			<string>left_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel9</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>117</integer>
		<key>y</key>
		<integer>180</integer>
		<key>adjacent</key>
		<array>
			<string>Unknown Restroom 2</string>
			<string>travel8</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Unknown Restroom 1</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>154</integer>
		<key>y</key>
		<integer>142</integer>
		<key>adjacent</key>
		<array>
			<string>travel8</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Unknown Restroom 2</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>143</integer>
		<key>y</key>
		<integer>187</integer>
		<key>adjacent</key>
		<array>
			<string>travel9</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>right_exit</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>535</integer>
		<key>y</key>
		<integer>85</integer>
		<key>adjacent</key>
		<array>
			<string>travel10</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel10</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>550</integer>
		<key>y</key>
		<integer>127</integer>
		<key>adjacent</key>
		<array>
			<string>right_exit</string>
			<string>Unknown Restroom 3</string>
			<string>travel12</string>
			<string>travel11</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel11</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>588</integer>
		<key>y</key>
		<integer>117</integer>
		<key>adjacent</key>
		<array>
			<string>travel10</string>
			<string>Classroom B</string>
			<string>Vending</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Unknown Restroom 3</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>510</integer>
		<key>y</key>
		<integer>154</integer>
		<key>adjacent</key>
		<array>
			<string>travel10</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Unknown Restroom 4</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>201</integer>
		<key>adjacent</key>
		<array>
			<string>travel12</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Classroom B</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>621</integer>
		<key>y</key>
		<integer>106</integer>
		<key>adjacent</key>
		<array>
			<string>travel11</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Vending</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>599</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>travel11</string>
			<string>travel13</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel12</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>571</integer>
		<key>y</key>
		<integer>195</integer>
		<key>adjacent</key>
		<array>
			<string>Education Pavilion</string>
			<string>Unknown Restroom 4</string>
			<string>travel13</string>
			<string>travel10</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel13</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>610</integer>
		<key>y</key>
		<integer>199</integer>
		<key>adjacent</key>
		<array>
			<string>Classroom A</string>
			<string>travel12</string>
			<string>Vending</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Classroom A</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>654</integer>
		<key>y</key>
		<integer>195</integer>
		<key>adjacent</key>
		<array>
			<string>travel13</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Education Pavilion</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>569</integer>
		<key>y</key>
		<integer>244</integer>
		<key>adjacent</key>
		<array>
			<string>South Entrance</string>
			<string>South Elevator</string>
			<string>travel12</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>South Entrance</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>639</integer>
		<key>y</key>
		<integer>250</integer>
		<key>adjacent</key>
		<array>
			<string>Education Pavilion</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>South Elevator</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>487</integer>
		<key>y</key>
		<integer>240</integer>
		<key>adjacent</key>
		<array>
			<string>Education Pavilion</string>
			<string>South Stairs</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>South Stairs</string>
		<key>floor</key>
		<string>mid</string>
		<key>x</key>
		<integer>476</integer>
		<key>y</key>
		<integer>278</integer>
		<key>adjacent</key>
		<array>
			<string>South Elevator</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel14</string>
		<key>floor</key>
		<string>star</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>46</integer>
		<key>adjacent</key>
		<array>
			<string>travel15</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel15</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>58</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>travel14</string>
			<string>travel16</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel16</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>59</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>travel15</string>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>star_theater_exit</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>82</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>travel16</string>
			<string>Star Exhibits</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Star Exhibits</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>133</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater_enter</string>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>star_theater_enter</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>184</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>Star Theater</string>
			<string>travel17</string>
			<string>Star Exhibits</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel17</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>290</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater_enter</string>
			<string>travel18</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel18</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>206</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>travel17</string>
			<string>travel19</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel19</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>248</integer>
		<key>y</key>
		<integer>46</integer>
		<key>adjacent</key>
		<array>
			<string>travel18</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Star Theater</string>
		<key>floor</key>
		<string>star</string>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>170</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel20</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>travel34</string>
			<string>Welcome Gallery</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel21</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>Welcome Gallery</string>
			<string>travel22</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel22</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>travel21</string>
			<string>travel23</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel23</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>Sky Theater</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel24</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>379</integer>
		<key>adjacent</key>
		<array>
			<string>travel25</string>
			<string>travel35</string>
			<string>Shoot For The Moon</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel25</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>333</integer>
		<key>y</key>
		<integer>315</integer>
		<key>adjacent</key>
		<array>
			<string>Our Solar System</string>
			<string>travel31</string>
			<string>travel26</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel26</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>361</integer>
		<key>adjacent</key>
		<array>
			<string>Our Solar System</string>
			<string>travel25</string>
			<string>travel35</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel27</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>Cafe Galileo</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel28</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>440</integer>
		<key>adjacent</key>
		<array>
			<string>Shoot For The Moon</string>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel29</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>547</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
			<string>travel28</string>
			<string>sky_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel30</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>391</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>rainbow_lobby_exit</string>
			<string>travel29</string>
			<string>Rainbow Lobby</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel31</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>416</integer>
		<key>y</key>
		<integer>326</integer>
		<key>adjacent</key>
		<array>
			<string>travel25</string>
			<string>Planet Explorers</string>
			<string>planet_explorers_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel32</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>611</integer>
		<key>y</key>
		<integer>392</integer>
		<key>adjacent</key>
		<array>
			<string>Planet Explorers</string>
			<string>Adler Store</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel33</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>470</integer>
		<key>adjacent</key>
		<array>
			<string>planet_explorers_exit</string>
			<string>Adler Store</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel34</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel20</string>
			<string>cafe_galileo_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel35</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>268</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel24</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Rainbow Lobby</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>611</integer>
		<key>adjacent</key>
		<array>
			<string>Coat Check</string>
			<string>travel30</string>
			<string>Main Entrance</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Coat Check</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>288</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>Welcome Gallery</string>
			<string>Rainbow Lobby</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Welcome Gallery</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>228</integer>
		<key>y</key>
		<integer>510</integer>
		<key>adjacent</key>
		<array>
			<string>travel20</string>
			<string>travel21</string>
			<string>Coat Check</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Sky Theater</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>498</integer>
		<key>adjacent</key>
		<array>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Shoot For The Moon</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>398</integer>
		<key>y</key>
		<integer>378</integer>
		<key>adjacent</key>
		<array>
			<string>travel24</string>
			<string>travel28</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Cafe Galileo</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>454</integer>
		<key>adjacent</key>
		<array>
			<string>travel27</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Our Solar System</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>279</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel25</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Planet Explorers</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>473</integer>
		<key>y</key>
		<integer>231</integer>
		<key>adjacent</key>
		<array>
			<string>travel31</string>
			<string>travel32</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Adler Store</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>617</integer>
		<key>y</key>
		<integer>455</integer>
		<key>adjacent</key>
		<array>
			<string>travel33</string>
			<string>travel32</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>rainbow_lobby_exit</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>411</integer>
		<key>y</key>
		<integer>638</integer>
		<key>adjacent</key>
		<array>
			<string>travel30</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>sky_theater_exit</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>489</integer>
		<key>y</key>
		<integer>530</integer>
		<key>adjacent</key>
		<array>
			<string>travel29</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>planet_explorers_exit</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>497</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel31</string>
			<string>travel33</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>cafe_galileo_exit</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>204</integer>
		<key>y</key>
		<integer>390</integer>
		<key>adjacent</key>
		<array>
			<string>travel26</string>
			<string>travel34</string>
			<string>travel27</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>Main Entrance</string>
		<key>floor</key>
		<string>top</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>694</integer>
		<key>adjacent</key>
		<array>
			<string>Rainbow Lobby</string>
		</array>
	</dict>
</array>
</plist>
