<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>travel0</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>257</integer>
		<key>y</key>
		<integer>441</integer>
		<key>adjacent</key>
		<array>
			<string>mens_restroom</string>
			<string>astronomy_in_culture</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel1</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>244</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace_exit</string>
			<string>astronomy_in_culture</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel2</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>264</integer>
		<key>y</key>
		<integer>176</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace</string>
			<string>travel3</string>
			<string>travel4</string>
			<string>space_theater_exit</string>
			<string>citizen_science</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel3</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>182</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>citizen_science</string>
			<string>cyberspace</string>
			<string>travel2</string>
			<string>atwood_sphere</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel4</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>355</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
			<string>travel5</string>
			<string>space_theater_enter</string>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel5</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>468</integer>
		<key>y</key>
		<integer>182</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater_enter</string>
			<string>travel4</string>
			<string>the_universe</string>
			<string>the_universe_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel6</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>472</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>space_visualization_lab</string>
			<string>telescopes</string>
			<string>the_universe_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel7</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>456</integer>
		<key>y</key>
		<integer>452</integer>
		<key>adjacent</key>
		<array>
			<string>womens_restroom</string>
			<string>telescopes</string>
			<string>womens_restroom_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>mens_restroom</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>285</integer>
		<key>y</key>
		<integer>456</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>astronomy_in_culture</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>305</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
			<string>travel1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>cyberspace_exit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>205</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>cyberspace</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>208</integer>
		<key>y</key>
		<integer>156</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace</string>
			<string>travel3</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>citizen_science</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>151</integer>
		<key>y</key>
		<integer>108</integer>
		<key>adjacent</key>
		<array>
			<string>cyberspace</string>
			<string>travel2</string>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>atwood_sphere</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>251</integer>
		<key>y</key>
		<integer>66</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_theater</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>356</integer>
		<key>y</key>
		<integer>75</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>the_universe</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>512</integer>
		<key>y</key>
		<integer>121</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_visualization_lab</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>428</integer>
		<key>y</key>
		<integer>229</integer>
		<key>adjacent</key>
		<array>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>telescopes</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>350</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>womens_restroom</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>426</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>womens_restroom_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>470</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel7</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>the_universe_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>503</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
			<string>travel6</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_theater_enter</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>135</integer>
		<key>adjacent</key>
		<array>
			<string>space_theater</string>
			<string>travel4</string>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_theater_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>297</integer>
		<key>y</key>
		<integer>134</integer>
		<key>adjacent</key>
		<array>
			<string>atwood_sphere</string>
			<string>travel4</string>
			<string>travel2</string>
		</array>
	</dict>
</array>
</plist>
