<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>entrance</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>207</integer>
		<key>y</key>
		<integer>424</integer>
		<key>adjacent</key>
		<array>
			<string>entrance_travel1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>room1</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>234</integer>
		<key>y</key>
		<integer>405</integer>
		<key>adjacent</key>
		<array>
			<string>entrance_travel1</string>
			<string>exhibit1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>exhibit1</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>247</integer>
		<key>y</key>
		<integer>420</integer>
		<key>adjacent</key>
		<array>
			<string>room1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>entrance_travel1</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>220</integer>
		<key>y</key>
		<integer>405</integer>
		<key>adjacent</key>
		<array>
			<string>entrance</string>
			<string>room1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>main_room</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>231</integer>
		<key>y</key>
		<integer>385</integer>
		<key>adjacent</key>
		<array>
			<string>entrance</string>
			<string>room1</string>
			<string>entrance_travel1</string>
			<string>main_exhibit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>main_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>288</integer>
		<key>y</key>
		<integer>313</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
</array>
</plist>
