<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>lower_astronomy_in_culture</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>305</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>entrance_travel1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>astronomy_exit_top</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>247</integer>
		<key>y</key>
		<integer>264</integer>
		<key>adjacent</key>
		<array>
			<string>room1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>lower_upper_stair_left</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>205</integer>
		<key>y</key>
		<integer>243</integer>
		<key>adjacent</key>
		<array>
			<string>room1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>cyberspace_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>208</integer>
		<key>y</key>
		<integer>157</integer>
		<key>adjacent</key>
		<array>
			<string>entrance</string>
			<string>room1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>cyberspcace_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>265</integer>
		<key>y</key>
		<integer>177</integer>
		<key>adjacent</key>
		<array>
			<string>entrance</string>
			<string>room1</string>
			<string>entrance_travel1</string>
			<string>main_exhibit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>citizen_science_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>182</integer>
		<key>y</key>
		<integer>70</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>cyberspace_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>208</integer>
		<key>y</key>
		<integer>157</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>citizen_science_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>152</integer>
		<key>y</key>
		<integer>108</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>atwood_sphere_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>252</integer>
		<key>y</key>
		<integer>66</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_theater_exit_left</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>297</integer>
		<key>y</key>
		<integer>134</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_theater</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>355</integer>
		<key>y</key>
		<integer>82</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_theater_mid_travel</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>355</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>the_universe_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>468</integer>
		<key>y</key>
		<integer>182</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>the_universe_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>512</integer>
		<key>y</key>
		<integer>131</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>lower_level_stair_right</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>503</integer>
		<key>y</key>
		<integer>242</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_visualization_lab_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>472</integer>
		<key>y</key>
		<integer>265</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>space_visualization_lab_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>428</integer>
		<key>y</key>
		<integer>229</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>telescope_exhibit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>414</integer>
		<key>y</key>
		<integer>350</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>telescope_exit</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>787</integer>
		<key>y</key>
		<integer>345</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>lower_to_underground_stair_right</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>470</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>lower_men_bathroom</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>426</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>lower_exit_left</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>257</integer>
		<key>y</key>
		<integer>442</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>lower_level_women_bathroom</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>285</integer>
		<key>New item</key>
		<string>460</string>
		<key>y</key>
		<integer>157</integer>
		<key>adjacent</key>
		<array>
			<string>main_room</string>
		</array>
	</dict>
</array>
</plist>
