<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>left_exit</string>
		<key>x</key>
		<integer>210</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel0</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>262</integer>
		<key>y</key>
		<integer>435</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
			<string>left_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel1</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>290</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>unknown_restroom_1</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>403</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>unknown_restroom_2</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>349</integer>
		<key>y</key>
		<integer>379</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>right_exit</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>333</integer>
		<key>y</key>
		<integer>315</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel2</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>361</integer>
		<key>adjacent</key>
		<array>
			<string>right_exit</string>
			<string>unknown_restroom_3</string>
			<string>travel4</string>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel3</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>475</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
			<string>classroom_b</string>
            <string>vending</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>unknown_restroom_3</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>440</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>unknown_restroom_4</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>448</integer>
		<key>y</key>
		<integer>547</integer>
		<key>adjacent</key>
		<array>
			<string>travel4</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>classroom_b</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>391</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>vending</string>
		<key>type</key>
		<string>travel</string>
		<key>x</key>
		<integer>416</integer>
		<key>y</key>
		<integer>326</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel4</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>611</integer>
		<key>y</key>
		<integer>392</integer>
		<key>adjacent</key>
		<array>
			<string>unknown_restroom_4</string>
			<string>travel5</string>
            <string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel5</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>470</integer>
		<key>adjacent</key>
		<array>
			<string>classroom_a</string>
			<string>travel4</string>
            <string>vending</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>classroom_a</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>237</integer>
		<key>y</key>
		<integer>422</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>education_pavilion</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>268</integer>
		<key>y</key>
		<integer>389</integer>
		<key>adjacent</key>
		<array>
			<string>travel4</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>south_entrance</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>352</integer>
		<key>y</key>
		<integer>611</integer>
		<key>adjacent</key>
		<array>
			<string>education_pavilion</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>south_elevator</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>288</integer>
		<key>y</key>
		<integer>601</integer>
		<key>adjacent</key>
		<array>
			<string>education_pavilion</string>
			<string>south_stairs</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>south_stairs</string>
		<key>type</key>
		<string>exit</string>
		<key>x</key>
		<integer>228</integer>
		<key>y</key>
		<integer>510</integer>
		<key>adjacent</key>
		<array>
			<string>south_elevator</string>
		</array>
	</dict>
</array>
</plist>
