<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>left_exit</string>
		<key>x</key>
		<integer>143</integer>
		<key>y</key>
		<integer>74</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel0</string>
		<key>x</key>
		<integer>132</integer>
		<key>y</key>
		<integer>131</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
			<string>left_exit</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel1</string>
		<key>x</key>
		<integer>117</integer>
		<key>y</key>
		<integer>180</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_1</string>
		<key>x</key>
		<integer>154</integer>
		<key>y</key>
		<integer>142</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_2</string>
		<key>x</key>
		<integer>143</integer>
		<key>y</key>
		<integer>187</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>right_exit</string>
		<key>x</key>
		<integer>535</integer>
		<key>y</key>
		<integer>85</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel2</string>
		<key>x</key>
		<integer>550</integer>
		<key>y</key>
		<integer>127</integer>
		<key>adjacent</key>
		<array>
			<string>right_exit</string>
			<string>unknown_restroom_3</string>
			<string>travel4</string>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel3</string>
		<key>x</key>
		<integer>588</integer>
		<key>y</key>
		<integer>117</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
			<string>classroom_b</string>
			<string>vending</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_3</string>
		<key>x</key>
		<integer>510</integer>
		<key>y</key>
		<integer>154</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>unknown_restroom_4</string>
		<key>x</key>
		<integer>530</integer>
		<key>y</key>
		<integer>201</integer>
		<key>adjacent</key>
		<array>
			<string>travel4</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>classroom_b</string>
		<key>x</key>
		<integer>621</integer>
		<key>y</key>
		<integer>106</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>vending</string>
		<key>x</key>
		<integer>599</integer>
		<key>y</key>
		<integer>162</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel4</string>
		<key>x</key>
		<integer>571</integer>
		<key>y</key>
		<integer>195</integer>
		<key>adjacent</key>
		<array>
			<string>unknown_restroom_4</string>
			<string>travel5</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<false/>
		<key>uid</key>
		<string>travel5</string>
		<key>x</key>
		<integer>610</integer>
		<key>y</key>
		<integer>199</integer>
		<key>adjacent</key>
		<array>
			<string>classroom_a</string>
			<string>travel4</string>
			<string>vending</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>classroom_a</string>
		<key>x</key>
		<integer>654</integer>
		<key>y</key>
		<integer>195</integer>
		<key>adjacent</key>
		<array>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>education_pavilion</string>
		<key>x</key>
		<integer>569</integer>
		<key>y</key>
		<integer>244</integer>
		<key>adjacent</key>
		<array>
			<string>travel4</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>south_entrance</string>
		<key>x</key>
		<integer>639</integer>
		<key>y</key>
		<integer>250</integer>
		<key>adjacent</key>
		<array>
			<string>education_pavilion</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>south_elevator</string>
		<key>x</key>
		<integer>487</integer>
		<key>y</key>
		<integer>240</integer>
		<key>adjacent</key>
		<array>
			<string>education_pavilion</string>
			<string>south_stairs</string>
		</array>
	</dict>
	<dict>
		<key>isSourceOrDestination</key>
		<true/>
		<key>uid</key>
		<string>south_stairs</string>
		<key>x</key>
		<integer>476</integer>
		<key>y</key>
		<integer>278</integer>
		<key>adjacent</key>
		<array>
			<string>south_elevator</string>
		</array>
	</dict>
</array>
</plist>
