<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>travel0</string>
		<key>type</key>
		<string>exhibit</string>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>58</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel1</string>
		<key>x</key>
		<integer>73</integer>
		<key>y</key>
		<integer>89</integer>
		<key>adjacent</key>
		<array>
			<string>travel0</string>
			<string>travel2</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel2</string>
		<key>x</key>
		<integer>74</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>travel1</string>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>star_theater_exit</string>
		<key>x</key>
		<integer>102</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>travel2</string>
			<string>star_exhibits</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>star_exhibits</string>
		<key>x</key>
		<integer>167</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>star_theather_enter</string>
			<string>star_theater_exit</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>star_theather_enter</string>
		<key>x</key>
		<integer>231</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater</string>
			<string>travel3</string>
			<string>star_exhibits</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel3</string>
		<key>x</key>
		<integer>258</integer>
		<key>y</key>
		<integer>364</integer>
		<key>adjacent</key>
		<array>
			<string>star_theather_enter</string>
			<string>travel4</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel4</string>
		<key>x</key>
		<integer>258</integer>
		<key>y</key>
		<integer>396</integer>
		<key>adjacent</key>
		<array>
			<string>travel3</string>
			<string>travel5</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>travel5</string>
		<key>x</key>
		<integer>311</integer>
		<key>y</key>
		<integer>59</integer>
		<key>adjacent</key>
		<array>
			<string>travel4</string>
		</array>
	</dict>
	<dict>
		<key>uid</key>
		<string>star_theater</string>
		<key>x</key>
		<integer>169</integer>
		<key>y</key>
		<integer>213</integer>
		<key>adjacent</key>
		<array>
			<string>star_theater_exit</string>
		</array>
	</dict>
</array>
</plist>
